:root{
  --md-dark-color: #384963;
  --dark-color: #456181;
  --light-dark-color: rgb(24, 32, 46);
  --yellow-color: rgb(255 210 44);
}
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: rgb(45, 62, 90);
}

body::-webkit-scrollbar{
  display: none;
}


li{
  cursor: pointer;
}

.nav-btn:hover{
  background-color: #3d5168;
  border-radius: 5px;

}
.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 50vw;
      min-width: 300px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #e9d62e;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg,#fff);
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }

.design{
  height: 835px;
  background-color: rgb(114, 132, 161);

}

.menu{
  position: relative;
  display:none;
  top: -800px;
  right: 50%;
  z-index: 111;
}

.menu-visible{
  position: relative;
  top: -56px;
  height: 0;
  z-index: 99999;
  animation-name: Dropmenu;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(1, 0.01, 0.58, 1);
}

.menuhide{
  position: relative;
  animation-name: Dropmenu;
  animation-direction: reverse;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(1, 0.01, 0.58, 1);
}


.btn-tohome{
  border: #d4aa11;
  background-color: #e9d62e;
  border-radius: 90%;
  padding: 15px;
  padding-left: 22px;
  padding-right: 22px;
}

@keyframes Dropmenu {
  0%{
    position: relative;
    top: -700px;
  }
  100%{
    position: relative;
    top: -70px;
  }

}


/* .watch{
  display: none;
  overflow-y: scroll;
  position: relative;
  left: 77%;
  height: auto;
  max-height: 300px;
  width: 23%;
  background-color: #d4aa11;
}

.watch-visible{
  display: flex;
  overflow-y: scroll;
  position: relative;
  left: 77%;
  height: auto;
  max-height: 300px;
  width: 23%;
  background-color: #d4aa11;
} */


  /* Search grid */
  .search-container{
    background-color: rgb(45, 62, 90);
    display: flex;
    justify-content: center;
    left: 100px;
}

  .search-element{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 2.9%;
    width: 53%;
    min-width: 360px;
}
.search-element h3{
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}
.search-list{
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item{
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(50vw  8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color: #5c7596;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
    border-radius: 2px;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}



/* movie result */
.result-container{
  padding: 3rem 0;
}
.movie-poster img{
  max-width: 300px;
  margin: 0 auto;
  border: 4px solid #fff;
}
.movie-info{
  text-align: center;
  color: #fff;
  padding-top: 3rem;
}

/* movie info stylings */
.movie-title{
  font-size: 2rem;
  color: var(--yellow-color);
}
.movie-misc-info{
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}
.movie-info .year{
  font-weight: 500;
}
.movie-info .rated{
  background-color: var(--yellow-color);
  padding: 0.4rem;
  margin: 0 0.4rem;
  border-radius: 3px;
  font-weight: 600;
}
.movie-info .released{
  font-size: 0.9rem;
  opacity: 0.9;
}
.movie-info .writer{
  padding: 0.5rem;
  margin: 1rem 0;
}
.movie-info .genre{
  cursor: pointer;
  background-color: var(--light-dark-color);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}

.movie-info .genre:hover{
  background-color: rgb(84, 155, 196);
  display: inline-block;
  padding: 0.5rem;
  border-radius: 3px;
}

.movie-info .plot{
  max-width: 400px;
  margin: 1rem auto;
}
.movie-info .language{
  color: var(--yellow-color);
  font-style: italic;
}
.movie-info .awards{
  font-weight: 300;
  font-size: 0.9rem;
}
.movie-info .awards i{
  color: var(--yellow-color);
  margin: 1rem 0.7rem 0 0;
}

/* js related class */
.hide-search-list{
  display: none;
}



.sidepanel  {
  width: 0;
  position: absolute;
  z-index: 1;
  height: 550px;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background: rgba(80, 120, 172, 0.719);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.sidepanel::-webkit-scrollbar{
  display: none;
}


.sidepanel li{
  min-height: 70px;
  margin-bottom: 8px;
  padding: 8px 100px 8px 32px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 13px;
  background-image: linear-gradient(rgb(132 191 240), rgb(126 163 247));
  color: #f1f1f1;
  display: block;
  border: 1px solid rgba(245, 245, 245, 0.616);
  transition: 0.3s;
}

.sidepanel li{
  background-image: linear-gradient(rgb(240, 211, 132), rgb(255, 200, 80));
}

.sidepanel li:hover{
  background-image: linear-gradient(rgb(255, 204, 66), rgb(255, 200, 80));
  filter: drop-shadow(30px 10px 4px #0a0a0a83);
  transform: scale(1.05);
}

/* .sidepanel li:nth-of-type(even) {
  background-image: linear-gradient(rgb(209 138 227) ,rgb(197 58 132));
}
.sidepanel li:nth-of-type(3n) {
  background-image: linear-gradient(rgb(138, 227, 193) ,rgb(46, 196, 151));
} */

.sidepanel a:hover {
  color: #f1f1f1;
}

#watchlist li{
  color: #525252;
  font-weight: 900;
}
/* .sidepanel li:hover{
  background-color: var(--yellow-color);
} */

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

.btn-watchlist {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(255 210 44);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-watchlist:hover {
  background: var(--yellow-color);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.btn-watchlist:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.btn-watchlist::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.btn-watchlist:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}




/* carousel with animation */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

.carousel-container {
  max-width: 27.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -39%;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgb(255 255 255 / 24%);
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  /* position: absolute; */
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.c-img{
  /* height: 100%; */
}


.watch-text{
  position: absolute;
  left: 39%;
  top:20px;
  font-weight: bold;
}